
    <div class="background-image-overlay"></div>

    <div id="outer-background-container" data-default-background-img="/images/bg/bg5.jpg" style="background-image:url(/images/bg/bg5.jpg);"></div>
    <!-- end: #outer-background-container -->    

    <!-- Outer Container -->
    <div id="outer-container">

      <!-- Left Sidebar -->
      <section id="left-sidebar">
        
        <div class="logo">
          <a href="#intro" class="link-scroll"><img src="/images/logos/Logo_Ivory.png" alt="Claire &amp; Alex"></a>
        </div><!-- .logo -->

        <!-- Menu Icon for smaller viewports -->
        <div id="mobile-menu-icon" class="visible-xs" onClick="toggle_main_menu();"><span class="glyphicon glyphicon-th"></span></div>

        <ul id="main-menu">
          <li id="menu-item-text" class="menu-item scroll"><a href="#text">our wedding</a></li>
          <li id="menu-item-carousel" class="menu-item scroll"><a href="#directions">directions</a></li>
          <li id="menu-item-grid" class="menu-item scroll"><a href="#grid">accommodations</a></li>
          <!-- <li id="menu-item-featured" class="menu-item scroll"><a href="#featured">registries</a></li> -->
          <li id="menu-item-contact" class="menu-item scroll"><a href="#contact">request a song</a></li>
          <li id="menu-item-text" class="menu-item scroll">
        </ul><!-- #main-menu -->

      </section><!-- #left-sidebar -->
      <!-- end: Left Sidebar -->

      <section id="main-content" class="clearfix">
        
        <article id="intro" class="section-wrapper clearfix" data-custom-background-img="/images/bg/bg4.jpg">
          <div class="content-wrapper clearfix wow fadeInDown" data-wow-delay="0.3s">
            <div class="col-sm-10 col-md-9 pull-right">

                <section class="feature-text">
                	<img src="/images/Landing-3.png" style="width:600px;margin-top:100px" />
	                <p style="height:300px"></p>
                </section>

            </div><!-- .col-sm-10 -->
          </div><!-- .content-wrapper -->
        </article><!-- .section-wrapper -->

        <article id="text" class="section-wrapper clearfix" data-custom-background-img="/images/bg/bg5.jpg">
          <div class="content-wrapper clearfix">
            <div class="col-sm-10 col-md-9 pull-right">

                <h1 class="section-title">Our Wedding</h1>

                <p class="feature-paragraph">We are getting married at Claire's Grandpa's camp on Tully Lake. There will be a brief, but awesome, ceremony down by the water. Immediately after there will be an even more awesome reception! Dinner and drinks will be served. Dancing is encouraged. Given the casual venue cocktail attire is recommended.<br>
                

            </div><!-- .col-sm-10 -->
          </div><!-- .content-wrapper -->
        </article><!-- .section-wrapper -->
        <article id="directions" class="section-wrapper clearfix" data-custom-background-img="/images/Dashboard.jpg">
          <div class="content-wrapper clearfix">
            <div class="col-sm-12 col-md-12 pull-right">

                <h1 class="section-title">Directions</h1>
                 <h2 class="feature-paragraph"><b>290 Hoffman Rd, Tully NY </b></h2>
                 <p class="pull-right"><a href="" onclick="populate_and_open_modal(event, 'modal-content-5');" class="btn btn-outline-inverse btn-sm">Map</a></p>
                
                  <div class="content-to-populate-in-modal" id="modal-content-5">
                        <iframe width='100%' height='700px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/am3081.lachp1gl/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoiYW0zMDgxIiwiYSI6IkxzS0FpU0UifQ.rYv6mHCcNd7KKMs7yhY3rw'></iframe>
                  </div>
                 <div class="grid-item col-md-6">
                    <div class="item-content clearfix">
                      <!-- <span class="icon glyphicon glyphicon-file"></span>
                       --><div class="text-content"  style="text-align: left;">
                        <h5>From the West:</h5>
                        
                        • Take the NYS Thruway to exit 39<br/>
                        • Merge onto Route 690 East<br/>
                        • After 8 miles, take the exit for 81 South<br/>
                        • See directions from the North<br/>

                        
                      </div>
                    </div><!-- end: .item-content -->
                  </div><!-- end: .grid-item -->

                  <div class="grid-item col-md-4">
                    <div class="item-content clearfix">
                      <!-- <span class="icon glyphicon glyphicon-file"></span>

                       --><div class="text-content" style="text-align: left;">

                        <h5>From the East:</h5>
                        
                         • Take the NYS Thruway to exit 34A <br/>
                         • Merge onto 481 South<br/>
                         • After 10 miles, merge onto 81 South<br/>
                         • See directions from the North<br/>

                        
                      </div>
                    </div><!-- end: .item-content -->
                  </div><!-- end: .grid-item -->

                  <div class="grid-item col-md-6">
                    <div class="item-content clearfix">
                      <!-- <span class="icon glyphicon glyphicon-file"></span>
                       --><div class="text-content" style="text-align: left;">
                        <h5>From the North:</h5>
                         • Take Route 81 South to exit 14 for Tully<br/>
                         • Take a left at the end of the ramp onto Route 11A<br/>
                         • Cross Route 80 and continue onto Lake Road<br/>
                         • After about a mile, turn left onto Hoffman Road<br/>

                        
                      </div>
                    </div><!-- end: .item-content -->
                  </div><!-- end: .grid-item -->

                  <div class="grid-item col-md-6">
                    <div class="item-content clearfix">
                      <!-- <span class="icon glyphicon glyphicon-file"></span>
                       --><div class="text-content"  style="text-align: left;">
                        <h5>From the South:</h5>
                        
                         • Take Route 81 North to exit 14 for Tully<br/>
                         • Turn left at the end of the ramp onto Route 281<br/>
                         • Take your first left onto Route 80<br/>
                         • Take another left onto Lake Road<br/>
                         • After about a mile, turn left onto Hoffman Road<br/>

                        
                      </div>
                    </div><!-- end: .item-content -->
                  </div><!-- end: .grid-item -->
               
                      
                     
                

            </div><!-- .col-sm-10 -->
          </div><!-- .content-wrapper -->
        </article><!-- .section-wrapper -->
        

        <article id="grid" class="section-wrapper clearfix" data-custom-background-img="/images/bg/bg2.jpg">
          <div class="content-wrapper clearfix">
            <div class="col-sm-11 col-md-10 pull-right" style="background-color: rgba(0,0,0,0.4);border-radius:15px;color:#fae9de;">

                <h1 class="section-title">Hotels</h1>
                <p>We have rooms reserved at three hotels in Cortland, NY, just South of Tully. A shuttle service will be provided to transport guests in the afternoon from the hotels to the wedding, and back at the end of the night. Guests must call in and mention they are going to the Muro Luber Wedding in order to receive the group rates. Hotel rooms must be reserved by July 1st and any reservations made at the Ramada Inn are non-refundable. </p>
                <!-- grid -->
                <section class="grid row clearfix">

                  <!-- grid item -->
                  <div class="grid-item col-md-4">
                    <div class="item-content clearfix">
                      <!-- <span class="icon glyphicon glyphicon-stats"></span>
                       --><div class="text-content">
                        <h5><a href="http://www.comfortinn.com/hotel-cortland-new_york-NY092#listpos1">Cortland Comfort Inn</a></h5>
                        <p>607-735-7721<br>
                        $140/night</p>
                      </div>
                    </div><!-- end: .item-content -->
                  </div><!-- end: .grid-item -->

                  <!-- grid item -->
                  <div class="grid-item col-md-4">
                    <div class="item-content clearfix">
                      <!-- <span class="icon glyphicon glyphicon-record"></span>
                       --><div class="text-content">
                        <h5><a href="http://www.qualityinn.com/hotel-cortland-new_york-NY260">Cortland Quality Inn</a></h5>
                        <p>607-756-5622<br>
                        $120/night</p>
                      </div>
                    </div><!-- end: .item-content -->
                  </div><!-- end: .grid-item -->

 

                  <!-- grid item -->
                  <div class="grid-item col-md-4">
                    <div class="item-content clearfix">
                      <!-- <span class="icon glyphicon glyphicon-file"></span>
                       --><div class="text-content">
                        <h5><a href="http://www.ramada.com/hotels/new-york/cortland/ramada-hotel-and-conference-center-cortland/hotel-overview">Cortland Ramada Inn</a></h5>
                        <p>607-756-4431<br>
                        $110/night</p>
                      </div>
                    </div><!-- end: .item-content -->
                  </div><!-- end: .grid-item -->

                </section><!-- end: grid -->

            </div><!-- .col-sm-11 -->
          </div><!-- .content-wrapper -->
        </article><!-- .section-wrapper -->

       
        <article id="contact" class="section-wrapper clearfix" data-custom-background-img="/images/Chris-Craft.png">
          <div class="content-wrapper clearfix">
            
              <h1 class="section-title">Request a song</h1>
              <p>We want to know what you want to hear!
                <!-- CONTACT DETAILS -->
                <div class="contact-details col-sm-5 col-md-3">
                  
                </div>
                <!-- END: CONTACT DETAILS -->

                <!-- CONTACT FORM -->
                <div class="col-sm-7 col-md-9"  style="padding:0px;">
                  <!-- IMPORTANT: change the email address at the top of the assets/php/mail.php file to the email address that you want this form to send to -->
                  <form class="form-style validate-form clearfix" action="/sendEmail" method="POST" role="form">

                    <!-- form left col -->
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="text" class="text-field form-control validate-field required" data-validation-type="string" id="form-name" placeholder="Your Name" name="Name">
                      </div>  
<!--                       <div class="form-group">
                        <input type="email" class="text-field form-control validate-field required" data-validation-type="email" id="form-email" placeholder="Email Address" name="email">
                      </div> -->
                      <!-- <div class="form-group">
                        <input type="tel" class="text-field form-control validate-field phone" data-validation-type="phone" id="form-contact-number" placeholder="Contact Number" name="contact_number">
                      </div>  --> 
                      <!-- <div class="form-group text-right">
                        <img id="form-captcha-img" src="assets/php/form_captcha/captcha_img.php">
                        <input type="text" class="text-field form-control validate-field required" data-validation-type="captcha" id="form-captcha" placeholder="Enter text" name="captcha">
                        <span id="form-captcha-refresh" class="fa fa-refresh" title="Reload"></span>
                      </div> -->                 
                    </div><!-- end: form left col -->

                    <!-- form right col -->
                    <div class="col-md-6" style="padding-right:0px;">
                      <div class="form-group">
                        <textarea placeholder="Song title and Artist name" class="form-control validate-field required" name="Song"></textarea>
                      </div> 
                      <div class="form-group">
                        <img src="images/loader-form.GIF" class="form-loader">
                        <button type="submit" class="btn btn-sm btn-outline-inverse">Submit</button>
                      </div> 
                      <div class="form-group form-general-error-container"></div>           
                    </div><!-- end: form right col -->

                  </form>
                </div><!-- end: CONTACT FORM -->

          </div><!-- .content-wrapper -->
        </article><!-- .section-wrapper -->

      </section><!-- #main-content -->

      <!-- Footer -->
      <section id="footer">

        <!-- Go to Top -->
        <div id="go-to-top" onclick="scroll_to_top();"><span class="icon glyphicon glyphicon-chevron-up"></span></div>

       <!--  <ul class="social-icons">
          <li><a href="#" target="_blank" title="Facebook"><img src="assets/images/theme_images/social_icons/facebook.png" alt="Facebook"></a></li>
          <li><a href="#" target="_blank" title="Twitter"><img src="assets/images/theme_images/social_icons/twitter.png" alt="Twitter"></a></li>
          <li><a href="#" target="_blank" title="Google+"><img src="assets/images/theme_images/social_icons/googleplus.png" alt="Google+"></a></li>
        </ul> -->

        <!-- copyright text -->
        <div class="footer-text-line" style="font-size:2em;">#MeetTheMuros</div>
      </section>
      <!-- end: Footer -->      

    </div><!-- #outer-container -->
    <!-- end: Outer Container -->

    <!-- Modal -->
    <!-- DO NOT MOVE, EDIT OR REMOVE - this is needed in order for popup content to be populated in it -->
    <div class="modal fade" id="common-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <div class="modal-body clearfix">
          </div><!-- .modal-body -->
        </div><!-- .modal-content -->
      </div><!-- .modal-dialog -->
    </div><!-- .modal -->    

    <!-- Javascripts
    ================================================== -->
